<%- include ('../partials/header') %>

<div class="container index">
    <% if(currentUser){ %>
        <a href="/blogs/new"><button id="addblog" style="margin-top: 2%;">Add new blog</button></a> 
    <% } %> 
    <div class="row text-center" style="display: flex; flex-wrap: wrap; padding-top:50px">
        <% blogs.forEach(function(blog){ %>
            <div class="col-md-4 col-sm-6">
                <div class="thumbnail">
                    <img id="img" src="<%= blog.image %>">
                    <div class="caption">
                        <h4><%= blog.name %></h4>
                        <h7><%- blog.body.substring(0,40) %>...</h7>
                        <a href="/blogs/<%= blog._id %>" style="text-decoration: none;"><button class="btn-block" id="add">Read More</button></a>
                    </div>
                </div>                
            </div>
        <% }) %>
    </div>
</div>

<script src="http://code.jquery.com/jquery-3.4.1.js"></script>    
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> 

<%- include ('../partials/footer') %>
